*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1240px;
    width: 100%;
    margin: 0 auto;
}
.btn{
    border: red 2px solid;
    padding: 10px 30px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 600;
    background: #fff;
    text-decoration: none;
    text-align: center;
    display: flex;
    flex-direction: column-reverse;
    width: 200px;
    align-items: center;
    justify-content: center;
}
/* ////////////////////nav-bar///////////////////// */
.nav_bar{
    background-color: goldenrod;
    padding: 10px 0;
}


/* ////////////////////banner/////////////////////// */
.banner_home{
    /* background-image:url('../img/book_cover-1.png') ; */
    background-color: #000;
    height: 100vh;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
}
.banner_heading h1 ,h2{
    color: #fff;
    font-size: 40px;
    font-weight:800;
    text-align: center;
}
.home_para{
    display: flex;
    gap: 20px;
}